body{
    margin: 0;
    overflow-x: hidden;
    width: 100vw;
    /* background: linear-gradient(black, white); */
    
}

header{
    margin: 0;
    width: 100%;

}

.img_logo{
    width: 260px;
    height: 170px;
}

.box_logo_name{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
    width: 90%;
    margin: 0 auto;

}

.h1_name{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3em;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10%;
    width: 100%;
    height: 10vh;
    background-color: black;
}

.nav_el{
    font-size: 1.8em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255));
    background-repeat: no-repeat;
    background-size: 0 3px;
    background-position: left bottom;

    transition: 0.4s;
}
.nav_el:hover{
    transform: translateX(5px);
    background-size: 100% 3px;
}


main{
    display: flex;
    justify-content: center;
    width: 100%;
    
    margin: 100px 0 100px 0;
}


.main_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
}


.conteiner_examples{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5% 10%;
    width: 60%;


}

.container_information{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.box_example{
    width: 40%;
}

.box_information{
    width: 400px;
}

.img_example{
    width: 220px;
    height: 190px;
    box-shadow: 10px 10px 7px rgb(63, 63, 63);
    transition: 0.4s;
}
.img_example:hover{
   transform: scale(1.1);
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;                                                                                                                                                                                                                                                    
    background-color: black;
    height: 20vh;
}

.container_slider, .slider_track{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
}

.box_a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4%;
    width: 100%;
}
@keyframes left {
    from{
        position: relative;
        left: 0;
        opacity: 1;
    }
    to{
        position: relative;
        left: -1000px;
        opacity: 0;
    }
}

@keyframes right {
    from{
        position: relative;
        left: 0;
        opacity: 1;
    }
    to{
        position: relative;
        left: 1000px;
        opacity: 0;
    }
}

@keyframes opacityAn {
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}

.a_footer{
    font-size: 0.9em;
    background-size: 0 1px;
}
.a_footer:hover{
    transform: translateX(5px);
    background-size: 100% 1px;
}


.btn_back, .btn_go{
    font-size: 4em;
    color: white;
    background-color: black;
    border: none;
    transition: 0.3s;
    padding: none;
}
.btn_back:hover,.btn_go:hover{
    transform: scale(1.3)
}

.none{
    display: none;
}

.p_description{
    font-size: 1.3em;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.img_media{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: 1px solid black;
    
}



@media  screen and (max-width: 1120px) {
    .container_information{
        flex-direction: row;
        width: 100%;
    }

    .box_information{
        width: 200px;
    }
}

@media  screen and (max-width: 890px) {
    .conteiner_examples{
        flex-direction: column;
    }
    .box_example{
        text-align: center;
        width: 100%;
    }
    .conteiner_examples{
        justify-content: center;
        align-items: center;
        
    }
    .img_example{
        width: 400px;
        height: 370px;
    }
    .p_description{
        font-size: 2em;
    }
    .h2_name_example, .h2_name_description{
        font-size: 2.4em;
    }
    .main_container{
        gap: 20vh;
    }
}

@media screen and (max-width: 690px){
    .p_description{
        font-size: 1.7em;
    }
    .h2_name_example, .h2_name_description{
        font-size: 1.9em;
    }
    .container_information{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .box_information{
        width: 60%;
    }
    .btn_back, .btn_go{
        font-size: 2em;
    }
    .btn_back:hover, .btn_go:hover{
        font-size: 2em;
        transform: scale(1);
    }
    .a_footer{
        font-size: 1em;
    }
    .h1_name{
        font-size: 2.1em;
    }
    .box_logo_name{
        flex-direction: column;
    }
    .conteiner_examples{
        width: 100%;
    }
    .box_a{
        flex-direction: column;
    }
    .slider_track{
        width: 100%;    
    }

    .img_media{
        width: 30px;
        height: 30px;
    }
}



@media screen and (max-width: 500px){
   .img_example{
    width: 100%;
   }
}

@media screen and (max-width: 350px){
   .img_example{
    height: 200px;
   }
   nav{
    flex-direction: column;
    height: 40vw;
   }
   .box_logo_name{
    text-align: center;
   }
   .box_information{
    width: 100%;
   }
   .img_logo{
    width: 100vw;
   }
}